﻿@model Biblioteka.InputModel.LogInInputModel
@{
    ViewData["Title"] = "Logowanie";
}

<h1>Logowanie</h1>
<br />
<form asp-action="LogIn">
    <div class="text-danger">@Model.Error</div>
    <br/>
    <div class="form-group">
        <label class="control-label">Login</label>
        <input asp-for="username" class="form-control col-md-4" />
        <span asp-validation-for="username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Hasło</label>
        <input asp-for="password" class="form-control col-md-4" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-info pull-right">Loguj</button>
</form>

