﻿@model Biblioteka.InputModel.AddUserInputModel
@{
    ViewData["Title"] = "Dodawanie użytkownika";
}

<h1>Dodawanie użytkownika</h1>
<form asp-action="AddUser">
    <div class="form-group">
        <label class="control-label">Login</label>
        <input asp-for="username" class="form-control col-md-4" />
        <span asp-validation-for="username" class="text-danger"></span>
    </div>
    <div class="form-group" style="width:33%">
        <label class="control-label">Rola</label>
        @Html.DropDownListFor(m => m.roles, new SelectList(ViewBag.Roles), htmlAttributes: new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-info pull-right">Dodaj</button>
    <a class="btn btn-info pull-right" asp-action="Index">Powrót</a>
</form>
