﻿@model Biblioteka.ViewModel.UserViewModel
@{
    ViewData["Title"] = "Lista użytkowników";
}

<h1>Lista użytkowników</h1>
<br />
<form asp-action="Index">
    <div class="container">
        <div class="row">
            <div class="col-sm w-100">
                <input placeholder="Nazwa użytkownika ..." asp-for="Result" class="form-control" />
            </div>
        </div>
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-info pull-right">Wyszukaj</button>
        <a class="btn btn-info pull-right" asp-action="Index">Wyczyść</a>
    </div>
</form>
<br />
<div class="text-danger">@Model.Error</div>
<br />
@if (Model.Users != null && Model.Users.Count > 0)
{
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Użytkownik</th>
                <th>Hasło</th>
                <th>Rola</th>
                <th>
                    <a class="btn btn-outline-primary float-right" asp-action="AddUser">Dodaj</a>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.Users)
        {
            <tbody>
                @if (item.username != null)
                {

                    <tr>
                        <td>@item.username</td>
                        <td>@item.password</td>
                        <td>@item.roles</td>
                        <td>
                            <form asp-action="RemoveUser" asp-route-id="@item.id" method="post">
                                <button class="btn btn-outline-danger float-right" type="submit">Usuń</button>
                            </form>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Użytkownik o danej nazwie nie istnieje</td>
                    </tr>
                }
            </tbody>
        }
    </table>
}
else
{
    <div>
        <h5>Brak użytkowników</h5>
        <a class="btn btn-outline-primary float-right" asp-action="AddUser">Dodaj</a>
    </div>
}

