﻿@model Biblioteka.ViewModel.CheckBookOutListViewModel
@{
    ViewData["Title"] = "Wypożyczone książki";
}

<br />
<div class="text-danger">@Model.Error</div>
<br />
@if (Model.Rents != null && Model.Rents.Count > 0)
{
    <table class="table table-hover" style="width:50%; margin-left:25%">
        <thead class="thead-light">
            <tr>
                <th>
                    Id użytkownika
                </th>
                <th>
                    Id książki
                </th>
                <th>
                    Data
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.Rents)
        {
            <tbody>
                <tr>
                    <td>@item.userid</td>
                    <td>@item.bookid</td>
                    <td>@item.rentDateTime.Split('T')[0]</td>
                </tr>
            </tbody>
        }
    </table>
}
else
{
    <h5>Brak książek</h5>
}
