﻿@model Biblioteka.ViewModel.CheckBookOutListViewModel
@{
    ViewData["Title"] = "Wypożyczone książki";
}

<h1>Wypożyczone książki</h1>
<br />
<div class="text-danger">@Model.Error</div>
<br />
@if (Model.Rents != null && Model.Rents.Count > 0)
{
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th style="width:20%">
                    Id książki
                </th>
                <th style="width:40%">
                    Data
                </th>
                <th>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.Rents)
        {
            <tbody>
                <tr>
                    <td>@item.bookid</td>
                    <td>@item.rentDateTime.Split('T')[0]</td>
                    <td>
                        @if (item.active)
                        {
                            <a class="btn btn-outline-primary float-right" asp-action="ReturnBook" asp-route-id="@item.id">Zwróć książkę</a>
                        }
                    </td>
                </tr>
            </tbody>
        }
    </table>
}
else
{
    <h5>Brak książek</h5>
}
