﻿@model Biblioteka.ViewModel.BooksViewModel
@{
    ViewData["Title"] = "Lista książek";
}

<h1>Lista książek</h1>
<br />
<form asp-action="Index">
    <div class="container">
        <div class="row">
            <div class="col-3 w-100">
                <select placeholder="Typ wyszkukiwania" class="form-control" asp-for="TypeResult" asp-items="@Model.Type.Select(x => new SelectListItem(x.ToString(), x.ToString()))"></select>
            </div>
            <div class="col-sm w-100">
                <input placeholder="Tekst do wyszukania ..." asp-for="Result" class="form-control" />
            </div>
        </div>
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-info pull-right">Wyszukaj</button>
        <a class="btn btn-info pull-right" asp-action="Index">Wyczyść</a>
    </div>
</form>
<br />
<div class="text-danger">@Model.Error</div>
<br/>
@if (Model.Books != null && Model.Books.Count > 0)
{ 
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th style="width:80%">
                    Książka
                </th>
                <th>
                    <a class="btn btn-outline-primary float-right" asp-action="AddBook">Dodaj nową</a>
                </th>
            </tr>
        </thead>
    @foreach (var item in Model.Books)
    {
        <tbody>
            <tr style="cursor: pointer" onclick="parent.location='/Home/ShowBook/@item.id'">
                <td>@item.title @item.authors[0].firstName @item.authors[0].secondName @item.publishYear</td>
                <td>
                    <a class="btn btn-outline-danger float-right" asp-action="RemoveBook" asp-route-id="@item.id">Usuń</a>
                    <a class="btn btn-outline-primary float-right" asp-action="UpdateBook" asp-route-id="@item.id">Aktualizuj</a>
                </td>
            </tr>
        </tbody>
    }
    </table>
}
else
{
    <h5>Brak książek</h5>
    <a class="btn btn-outline-primary float-right" asp-action="AddBook">Dodaj nową</a>
}
