﻿@model Biblioteka.ViewModel.ShowBookViewModel
@{
    ViewData["Title"] = "Szczegóły książki";
}

<h1>Szczegóły książki</h1>
<br />
<div>
    @if (Model.numberOfAvailableBooks > 0)
    {
        <a class="btn btn-outline-primary float-right" asp-route-id="@Model.id" asp-action="CheckBookOut">Wypożycz</a>
    }
    <table class="table table-borderless">
        <tr>
            <th scope="col" style="width:10%" class="text-right text-secondary">Tytuł:</th>
            <td scope="col">@Model.title</td>
        </tr>
        <tr>
            <th scope="col" style="width:10%" class="text-right text-secondary">Autor:</th>
            <td scope="col">@Model.secondName  @Model.firstName</td>
        </tr>
        <tr>
            <th scope="col" style="width:10%" class="text-right text-secondary">Rok:</th>
            <td scope="col">@Model.publishYear</td>
        </tr>
        <tr>
            <th scope="col" style="width:10%" class="text-right text-secondary">Liczba: </th>
            <td scope="col">@Model.numberOfAvailableBooks/@Model.numberOfAllBooks  (dostępnych/wszystkich)</td>
        </tr>
    </table>
    <a class="btn btn-info pull-right" asp-action="Index">Powrót</a>
</div>

