﻿@model Biblioteka.InputModel.UpdateBookInputModel
@{
    ViewData["Title"] = "Aktualizacja książki";
}

<h1>Aktualizacja książki</h1>
<form asp-action="UpdateBook">

    <input asp-for="id" type="hidden" />

    <div class="form-group">
        <label class="control-label">Tytuł</label>
        <input asp-for="title" class="form-control col-md-4" />
        <span asp-validation-for="title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Imię autora</label>
        <input asp-for="firstName" class="form-control col-md-4" />
        <span asp-validation-for="firstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Nazwisko autora</label>
        <input asp-for="secondName" class="form-control col-md-4" />
        <span asp-validation-for="secondName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Rok wydania</label>
        <input asp-for="publishYear" class="form-control col-md-4" />
        <span asp-validation-for="publishYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Liczba wszyskich książek</label>
        <input asp-for="numberOfAllBooks" class="form-control col-md-4" />
        <span asp-validation-for="numberOfAllBooks" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-info pull-right">Aktualizuj</button>
    <a class="btn btn-info pull-right" asp-action="Index">Powrót</a>
</form>